{
  "presets": [
    "next/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "react-intl",
          {
            "idInterpolationPattern": "[sha512:contenthash:base64:6]",
            "extractFromFormatMessageCall": true,
            "ast": true
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "react-intl",
          {
            "idInterpolationPattern": "[sha512:contenthash:base64:6]",
            "extractFromFormatMessageCall": true,
            "ast": true
          }
        ]
      ]
    }
  }
}